@import url('https://fonts.googleapis.com/css?family=Michroma|Orbitron:400,500,600,700,800&display=swap');
//font-families
$font-family-orbitron: 'Orbitron', sans-serif;
$font-family-michroma: 'Michroma', sans-serif;

//font sizes
$font-xl: 48px;
$font-l: 24px;
$font-m: 16px;
$font-s: 12px;
$font-xs: 8px;


